@import "../../../utils/Variables.scss";

.card {
  width: 350px;
  background-color: #252525;
  border: 1px solid rgba(37, 37, 37, 1);
  padding: 16px;
  border-radius: 24px;
  
  @include respond(phone){
    width: 95%;
  }
  
  & img {
    border-radius: 15px;
  }

  &-content {
  }

  &-title {
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  &-text {
    color: #4f4f4f;
  }
}
