@import '../../../utils/Variables.scss';

.form_container {
  display: flex;
  flex-direction: row;

  &_input {
    padding: 18px;
    padding-left: 20px;
    border-radius: 50px;
    max-width: 530px;
    width: 530px;
    color: #4f4f4f;
    background-color: #0F0F0F;
    border: 1px solid #252525;

    @include respond(phone) {
      width: 450px;
    }

    @include respond(sm-Phone) {
      width: 100%;
      padding: 14px;
      font-size: 12px;
    }
  }

  &_btn{
    margin-left: -14.5rem;
    color: #CACACA;
    background-color: #0F0F0F;
    border: 1px solid #252525;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    margin-top: 10px;
    margin-bottom: 10px;

    &_desktop{

      @include respond(tab-port){
        display: none;
      }
    }

    &_mobile{
      display: none;
      
      @include respond(tab-port){
        display:block;
        margin-left: -80px !important;
        font-size: 12px !important;
      }
    }

    @include respond(phone) {
      margin-left: -13.5rem;
      padding: 0.25rem 1rem;
    }

    @include respond(sm-Phone) {
      padding: 0.1rem .25rem;
      font-size: 14px;
      margin-left: -8rem;
    }
  }
}
