@import "../../../../utils/Variables.scss";

.tradingExperience{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(var(--background-color-dex));

    &_image1{
        @include respond(phone){
            width: 90%;
            margin: 0 auto;
        }
    }

    &_heading{
        margin-top: 8rem;
        font-size: 3vw;
        text-align: center;
        font-weight: 600;
        margin-bottom: 2rem;
        background: linear-gradient(45deg, #727267, #FFF);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        // @include respond(tab-port){
        //     font-size: 4vw;
        // }
    }

    &_subHeading {
        color: #656565;
        margin-bottom: 2.5rem;
        font-size: 1.1vw;
    
        // @include respond(tab-port) {
        //   font-size: 2vw;
        // }
    
        // @include respond(sm-Phone) {
        //     font-size: 2vw;
        // } rgb(var(--background-color-dex));
      }
}