$primary-color: #039f9f;
$text-color: #039f9f;
$color-black: #000;
$color-black-100: #080808;
$color-Smoky-Black: #100c08;
$color-licorice-color: #1a1110;
$color-background: $color-black;
$color-white: #fff;
$color-white-100: #e1e1e1e6;

$tw-bg-opacity: 1;
$tw-space-x-reverse: 0;
$tw-space-y-reverse: 0;
$tw-space-x-reverse: 0;

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

.service_heading_span {
  color: $text-color;
}

// section {
//   background-color: $color-background;
// }

@mixin respond($breakpoint) {
  @if $breakpoint == sm-Phone {
    @media only screen and (max-width: 27.5em) {
      @content;
    } //440px
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

// .heading_primary {
//   margin-top: 8rem;
//   font-size: 3vw;
//   text-align: center;
//   font-weight: 600;
//   margin-bottom: 2rem;
//   background: linear-gradient(45deg, #727267, #fff);
//   background-clip: text;
//   -webkit-background-clip: text;
//   color: transparent;
// }
