@import "../../../utils/Variables.scss";

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 9rem;
    margin-bottom: 2rem;

    @include respond(phone){
        flex-direction: column;
        align-items: center;
    }
    
    &_list{
        color: #4F4F4F;

        &_item{
            margin-bottom: 10px;

            &_input{
                padding: 10px;
                border-radius: 4px;
                background-color: #1A1A1A;
                color: #4F4F4F;
            }
        }
    }

    &_copyright{
        color: #4F4F4F;
        margin-top: 2rem;
    }

    &_col{
        color: #1A1A1A;
    }

    &_col1{
        flex: 50%;
    }

    &_col2{
        flex: 25%;
    }

    &_col3{
        flex: 25%;
    }
}