@import '../../../utils/Variables.scss';

.workContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 4rem;

  @include respond(tab-port) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.work {
  &_heading {
    margin-top: 8rem;
    font-size: 3vw;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
    background: linear-gradient(45deg, #ffffff, #a3a3a3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
