.efficency{
    // text-align: center;

    &_header{
        font-size: 2vw;
        font-weight: 600;
    }

    &_container{
        padding: 2rem;
        margin: 0 auto;
        background-color: #1A1A1A;
        display: flex;
        flex-direction: row;
        max-width: 1100px;
        width: 70%;
        border-radius: 10px;

        &_left{
            padding: 1rem;

            &_heading{
                font-size: 2rem;
            }
        }

        &_right{
            padding: 1rem;
        }
    }
}